/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


body{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

.tasks{
  display: flex;
  gap: 8px;
}

.home-link, .task-link{
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
}

.home-link:hover, .task-link:hover{
  background-color: #6c8cff;
}

/* #region gallery */

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: calc(360px * 3 + 24px *2);
}

/* lightbox */

.sl-wrapper{
  background-color: rgba(0, 0, 0, 70%);
}

#body .sl-next, 
#body .sl-prev, 
#body .sl-close, 
#body .sl-counter{
  color: #fff;
}
/* #endregion gallery */